*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

html,
body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(243, 243, 243);
    color: rgba(0, 0, 0, 0.6);
    user-select: none;
}

.login {
    position: absolute;
    padding: 10px;
    left: calc(60% - 200px);
    top: calc(50% - 20em);
    width: 400px;
    height: 460px;
    border-radius: 3px;
    background: white;
    overflow: hidden;
}

#loginleft {
    position: absolute;
    padding: 10px;
    left: calc(60% - 600px);
    top: calc(50% - 20em);
    width: 400px;
    height: 460px;
    border-radius: 3px;
    background: url('/images/leftbg.png');
    box-shadow: 0 1px 5px 0 rgba(0 0 0 0.26);
    overflow: hidden;
    z-index: 502;
}

.login > i {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.flag1 #wenzi {
    position: relative;
    top: 34px;
    left: -3px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.flag2 #wenzi {
    top: -90px;
    left: -50px;
}

.login .photo {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 30px 135px;
    border-radius: 50%;
    background: rgb(223, 223, 223);
    border: 13px solid rgb(223, 223, 223);
    overflow: hidden !important;
    transform: rotate(-1deg);
    top: 0px;
}

.flag2 .photo {
    top: -300px;
    opacity: 0;
}

.login .photo:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    top: 0px;
    right: 20px;
    border-radius: 50%;
    background: #aaa;
    border: 2px solid #fff;
    transform: scale(0);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation: user-head 0.5s 0s forwards;
}

.login .photo:after {
    position: absolute;
    content: '';
    width: 140px;
    height: 220px;
    top: 38px;
    right: -32px;
    border-radius: 50%;
    background: #aaa;
    border: 2px solid #fff;
    transform: translateY(36px);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation: user-body 0.5s 0.3s forwards;
}

.login > span {
    display: block;
    text-align: center;
    margin: -15px 0;
    font-size: 15px;
}

form {
    position: relative;
    width: 350px;
    margin: 0 15px;
    top: -10px;
}

.flag1 #u {
    position: relative;
    top: 0px;
}

.flag2 #u {
    top: -80px;
}

.flag1 #p {
    position: relative;
    top: 0px;
    opacity: 0;
}

.flag2 #p {
    top: -135px;
    opacity: 1;
}

#anniu {
    position: relative;
    top: -150px;
}

.form-group {
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
}

.form-control {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    font-size: 15px;
    font-family: inherit;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.15);
}

.form-control:focus {
    border-bottom: 2px solid rgb(3, 169, 245);
    outline: none;
    box-shadow: none;
}

.form-highlight {
    position: absolute;
    height: 60%;
    width: 60px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.4;
}

.form-control:focus ~ .form-highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.float-label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #999;
    font-weight: 300;
    text-align: center;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
    top: -15px;
    font-size: 12px;
    margin-left: 0px;
}

input[type=checkbox] {
    display: none;
    visibility: hidden;
}

.label {
    position: relative;
    top: -11px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.flag1 #jizhu {
    position: relative;
    top: -10px;
    transition: all 0.3s;
}

.flag2 #jizhu {
    top: -420px;
    opacity: 0;
}

.flag1 #wangji {
    left: -98px;
    top: 300px;
    opacity: 0;
    transition: all 0.3s;
}

.flag2 #wangji {
    top: -8px;
    opacity: 1;
}

input[type="checkbox"] + label:before {
    display: inline-block;
    content: "";
    margin: 0 15px 3px 0;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
    vertical-align: middle;
}

input[type=checkbox]:checked + label:before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K');
    background-color: rgb(3, 169, 245);
    border-color: rgb(3, 169, 245);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 11px auto;
}

.flag1 #next,
.flag1 #login {
    position: relative;
    float: right;
    font-family: inherit;
    font-weight: 100;
    font-size: 15px;
    border: 0;
    top: -10px;
    left: 0;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    background: rgb(3, 169, 245);
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.flag2 #next {
    left: -500px;
    opacity: 0;
}


#fanhui {
    position: relative;
    top: -315px;
    left: 100px;
    opacity: 0;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 100%;
}

.flag2 #fanhui {
    left: -170px;
    opacity: 1;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    color: rgb(3, 169, 245) !important;
    background: white !important;
}

#fanhui:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

.flag1 #login {
    left: 1000px;
    top: -37px;
    width: 86px;
}

.flag2 #login {
    left: 80px;
    opacity: 1;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-left: -10px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid rgba(117, 117, 117, 0.15);
}

footer a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: inherit;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
}

footer a:focus {
    outline: none;
}

.copyright {
    position: fixed;
    width: 100%;
    bottom: 5px;
    text-align: center;
    font-size: 12px;
}

.copyright a {
    text-decoration: none;
    color: rgb(3, 169, 245);
}

.copyright a:hover {
    transition: none;
    border-bottom: 1px solid rgb(3, 169, 245);
}


/*输入框动画*/
@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: none;
    }
}

/*头像动画*/
@keyframes user-head {
    100% {
        transform: scale(1);
    }
}

@keyframes user-body {
    100% {
        transform: translateY(2px);
    }
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #a1c4fd 20%, #c2e9fb 80%);
}

.bgTop {
    z-index: 3;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 2;
    opacity: 0.75;
}

.bgBottom {
    z-index: 1;
}

.wave {
    position: absolute;
    left: 0;
    width: 300%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveMiddle {
    background-size: 75% 100px;
}

.waveBottom {
    background-size: 40% 100px;
}

/*动画持续时间和速率和重复无限次*/
.waveAnimation .waveTop {
    animation: move_wave 10s linear infinite;
}

.waveAnimation .waveMiddle {
    animation: move_wave 20s linear infinite;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/*底部图片移动*/
@keyframes move_wave {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(-25%)
    }
    100% {
        transform: translateX(-50%)
    }
}

.hidden {
    display: none;
}

/* 注册 */
#register-form {
    top: 35px;
    opacity: 0;
    left: 400px;
}

#register-form .form-group {
    opacity: 1;
    margin-top: 30px;
}

#register_fanhui {
    position: relative;
    top: -326px;
    left: -135px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 100%;
}

#register_anniu {
    text-align: center;
}

#register {
    position: relative;
    font-family: inherit;
    font-weight: 100;
    font-size: 15px;
    border: 0;
    top: 0;
    left: -10px;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    background: rgb(187, 92, 245);
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 1px 4px 0 rgba(0 0 0 0.37);
}

#register_wenzi {
    position: relative;
    font-size: 35px;
    top: 0;
    left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.register {
    opacity: 1 !important;
    left: 0 !important;
}

.register2 {
    left: calc(60% - 200px) !important;
}

.Bg {
    position: absolute;
    padding: 10px;
    left: calc(60% - 600px);
    top: calc(50% - 20em);
    width: 800px;
    height: 460px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 1px 5px 0 rgba(0 0 0 0.26);
    overflow: hidden;
    z-index: 500;
}

body > div > div:nth-child(1) > div:nth-child(3) {
    left: calc(60% - 600px) !important;
}

#send_code {
    position: relative;
    left: 230px;
    top: 25px;
    background: none;
    border: none;
    padding: 10px 30px;
    z-index: 1000;
}

#register-form > div:nth-child(4) {
    height: 36px;
    margin-bottom: 37px;
}

#register-form > div:nth-child(5) {
    margin-top: -4px;
}

