#mobile-menu .nav {
    list-style: none;
}

#collapseExample > ul > li {
    margin-left: 48px;
}

a:hover, a:focus {
    text-decoration: none
}

.topbar > .nav-btn > a {
    position: absolute;
    left: 21px;
    top: 0;
    color: rgb(37, 38, 43) !important;
    transition: all 0.3s cubic-bezier(0.8, 1.06, 0, 1.15);
}

#topbar.hide-btn > a {
    left: -150px;
}

#topbar.hide-btn > ion-icon {
    left: 25px !important;
    transition: left 0.3s cubic-bezier(0.8, 1.06, 0, 1.15);
}

.topbar > .nav-btn > svg {
    position: relative;
    font-size: 25px;
}

.topbar > .nav-btn > a > img {
    width: 31px;
    vertical-align: -10px;
}

.topbar > .nav-btn > a > strong {
    font-size: 17px;
}

.mobile-nav ul li a {
    color: rgb(37, 38, 43) !important;
    display: block;
    height: 50px;
    border-radius: 7px;
    transition: all 0.3s cubic-bezier(0.8, 1.06, 0, 1.15);
    cursor: pointer;
}

#mobile-menu {
    box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.25);
    position: fixed;
    top: 62px;
    left: 0;
    height: 100%;
    background-color: rgba(132, 133, 141, 0.08) !important;
    color: rgb(37, 38, 43) !important;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.8, 1.06, 0, 1.15);
    overflow: hidden;
}

.mobile-nav ul li a:hover {
    background-color: rgba(199, 199, 199, 0.2);
    color: #5a5c65;
}

#mobile-menu .nav > .user {
    padding: 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1) !important;
    display: block;
    width: 100%;
}

#mobile-menu .nav .user > a, #mobile-menu .nav > li > a {
    display: block;
    color: rgb(37, 38, 43) !important;
}

#mobile-menu .user .nav > li > a span {
    top: 0 !important;
}

#mobile-menu .user .nav > li > a {
    height: 30px;
}

#mobile-menu .user .nav > li > a:hover {
    background-color: transparent;
}

#mobile-menu .nav > li {
    width: 100%;
    padding: 10px 10px 10px 15px;
}

#mobile-menu .nav > li > div li a {
    padding-left: 56px;
}

#mobile-menu .nav > li > div li a .sub-item:before {
    content: '';
    height: 4px;
    width: 4px;
    /*background: rgba(131, 132, 138, 0.89);*/
    color: rgb(37, 38, 43) !important;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
}

#mobile-menu .nav .user > a > span {
    position: relative;
    top: -22px;
    left: 64px
}

#mobile-menu .touxiang {
    /*width: 40px;*/
    height: 40px;
    line-height: 60px;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 2px;
}

#mobile-menu .nav .touxiang img {
    width: 100%;
    height: 100%;
}

#mobile-menu .nav .info a {
    white-space: nowrap;
    display: block;
    position: relative;
}

#mobile-menu .nav > li > a > span {
    position: relative;
    top: 12px;

}

#mobile-menu .nav > li .list-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
}

#mobile-menu .nav > li .list-icon + span {
    position: relative;
    top: -6px;
}

/*#mobile-menu .nav>li*/
#mobile-menu .nav > li ion-icon {
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

#topbar {
    z-index: 3;
    position: fixed;
    height: 62px;
    line-height: 62px;
    background-color: rgba(132, 133, 141, 0.08) !important;
    color: rgb(37, 38, 43) !important;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.8, 1.06, 0, 1.15);
    box-shadow: 4px 4px 10px rgba(69, 65, 78, 0.25);
    white-space: nowrap;
    overflow: hidden;
}

.show-btn {
    width: 250px
}

.hide-btn {
    width: 75px;
}

.show-svg {
    top: 0;
    left: 10px;
}

.hide-svg {

}

.show-nav {
    width: 250px !important;
}

.hide-nav {
    width: 75px !important;
}

.right-main {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 20px;
    transition: all 0.3s cubic-bezier(0.8, 1.06, 0, 1.15);
}

.right-main-show {
    width: calc(100% - 300px);
    margin-left: 25px;
    transform: translateX(250px);
}

.right-main .card-footer label {
    position: relative;
    left: 2.2rem;
    top: 7px;
}

@media screen and (max-width: 991px) {

    .show-nav {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        width: 250px !important;
    }

    .hide-nav {
        transform: translateX(-250px);
        -webkit-transform: translateX(-250px);
        width: 250px !important;
    }

    #topbar {
        width: 100%;
    }

    .topbar > .nav-btn > a {
        left: 0;
    }

    .topbar > .nav-btn > svg {
        top: 0;
        left: -52%;
    }

    .right-main {
        margin-top: 89px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.card {
    border: none;
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
}

.bottomProgressBar {
    position: relative;
    top: 430px;
}