.fullpage-wrapper {

    background: radial-gradient(rgba(65, 65, 78, 0.5) 0%, rgba(62, 64, 69, 0.5) 100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3554;
    display: none;

}

.fullpage-wrapper:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* 从父元素继承 background 属性的设置 */
    background: inherit;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    z-index: 3556;
}

.reactor-container {
    width: 238px;
    height: 238px;
    z-index: 3944;
    position: fixed;
    top: 36%;
    left: 43%;
}

@-webkit-keyframes enter {
    0% {
        opacity: 0;
        top: -10px;
    }
    5% {
        opacity: 1;
        top: 0px;
    }
    50.9% {
        opacity: 1;
        top: 0px;
    }
    55.9% {
        opacity: 0;
        top: 10px;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        top: -10px;
    }
    5% {
        opacity: 1;
        top: 0px;
    }
    50.9% {
        opacity: 1;
        top: 0px;
    }
    55.9% {
        opacity: 0;
        top: 10px;
    }
}

@-moz-keyframes enter {
    0% {
        opacity: 0;
        top: -10px;
    }
    5% {
        opacity: 1;
        top: 0;
    }
    50.9% {
        opacity: 1;
        top: 0;
    }
    55.9% {
        opacity: 0;
        top: 10px;
    }
}


.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27.5px;
    margin-top: -27.5px;
}

.square {
    background: #ffffff;
    width: 15px;
    height: 15px;
    float: left;
    top: -10px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    opacity: 0;
    -webkit-animation: enter 6s infinite;
    animation: enter 6s infinite;
}

.enter {
    top: 0px;
    opacity: 1;
}

.square:nth-child(1) {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.square:nth-child(2) {
    -webkit-animation-delay: 2.1s;
    -moz-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.square:nth-child(3) {
    -webkit-animation-delay: 2.4s;
    -moz-animation-delay: 2.4s;
    animation-delay: 2.4s;
    background: #fdc96f;
}

.square:nth-child(4) {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.square:nth-child(5) {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.square:nth-child(6) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.square:nth-child(8) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.square:nth-child(9) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.clear {
    clear: both;
}

.last {
    margin-right: 0;
}


.container2 {
    position: relative;
    display: inline-block;
    top: 23px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 50px;
    margin-left: 150px;
    margin-top: 15px;
}

.menu-content {
    left: 13%;
    min-width: 6rem;
}

.menu-hide {
    opacity: 0;
    display: none;
    transition: all .3s;
}

.menu-show {
    opacity: 1;
    display: block;

}


.menu-content .divider {
    margin: 5px 0px 2px 0px;
    height: 1px;
    background: #CCCCCC;
}

.menu-content a {
    color: #000000;
}


.container2 .add1 {
    position: relative;
    margin: auto;
    width: 35px;
    height: 35px;
    background: #8fa2ff;
    border-radius: 50%;
    transition: all .3s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.4);
}

.container2:hover .add1 {
    background: #3075ff;
}

@media (min-width: 900px) {
    #uploadModal {
        max-width: 825px;
    }
}

.container2 .add1:hover {
    cursor: pointer;
    background: #3075ff;
}

.container2 :hover .add1::before {
    height: 0.1rem;
    transition: all 0s;
}

.container2 :hover .add1::after {
    width: 0.1rem;
    transition: all 0s;
}

.container2 .add1::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 1px;
    transform: rotate(90deg);
    background: white;
    transition: all .3s;
}

.container2 .add1::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 20px;
    transform: rotate(90deg);
    background: white;
    transition: all .3s;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    line-height: 16px;
    position: relative;
    text-align: center;
    -webkit-appearance: none; /*去除默认样式*/
    outline: none;

}

input[type="checkbox"]::before {
    transition: all 0.35s ease;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 80%;
    height: 80%;
    margin: 2px 2px;
    border: 1px solid #007bff;
    border-radius: 50%;

}

input[type="checkbox"]:hover::before {
    transition: all 0.35s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 80%;
    height: 80%;
    margin: 2px 2px;
    border: 1px solid #0220e5;
    border-radius: 50%;

}

input[type="checkbox"]:checked::before {
    transition: all 0.35s ease;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 80%;
    height: 80%;
    margin: 2px 2px;
    border: 8px solid #007bff;
    border-radius: 50%;
}

/*进度条动画*/
#progress {
    position: fixed;
    height: 5px;
    background: #0004ff;
    transition: opacity, width 300ms linear;
    z-index: 4444;
    display: none;
}

#progress span {
    position: absolute;
    height: 5px;
    -webkit-box-shadow: #00e1ff 1px 0 6px 1px;
    -webkit-border-radius: 100%;
    opacity: 1;
    width: 150px;
    right: -10px;
    -webkit-animation: pulse 2s ease-out 0s infinite;
}

@-webkit-keyframes pulse {
    30% {
        opacity: .6
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: .6
    }
}

.detailed_tags ul {
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .container2 {
        margin-top: -10px;
    }

    .detailed_tags ul li {
        width: 48%;
    }

}

@media (max-width: 590px) {
    .detailed_tags ul li {
        width: 98%;
    }

}
