<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>我的空间</title>
  <!--导入公共css-->
  <link th:include="~{comm::css}"/>
  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/jquery.toolbar.css}" rel="stylesheet"/>
  <link th:href="@{/css/fileinput.css}" rel="stylesheet"/>
  <link th:href="@{/css/viewer.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/albumShow.css}" rel="stylesheet"/>
  <link th:href="@{/css/userMain.css}" rel="stylesheet"/>


</head>

<body>
  <!--进度条-->
  <div id="progress" class="done">
    <span></span>
  </div>
  <!-- 遮罩动画-->
  <div class="fullpage-wrapper">
    <div class="reactor-container">
      <div class="loader">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square"></div>
        <div class="square last"></div>
        <div class="square clear"></div>
        <div class="square "></div>
        <div class="square last"></div>
      </div>
    </div>
  </div>

  <!--导航-->
  <div th:include="~{comm::nav}"></div>
  <!--  搜索-->
  <div th:include="~{comm::search}"></div>
  <!--菜单-->
  <div class="navigation">
    <div class="container2" id="container2-menu">
      <a class="" href="#fileUpload" data-toggle="modal" onclick="fileUploadModal()">
        <div class="add1"></div>
      </a>

    </div>
  </div>
  <!--模态框 删除文件提示-->
  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">提示</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>是否删除以下文件</p>
          <p id="deleteFileName" class="text"></p>
        </div>
        <form id="deleteForm" method="post">
          <div class="form-group">
            <!--<input type="hidden" class="form-control" th:value="${path}" name="path">-->
            <input type="hidden" class="form-control" name="filenames" id="name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="deleteCancel">取消</button>
            <button type="button" class="btn btn-primary" onclick="deleteSuccess()">确定</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--模态框 重命名文件提示-->
  <div class="modal fade" tabindex="-1" role="dialog" id="renameModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">重命名</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body renameModal">
          <img id="renameShow" src="/images/loading.png">
        </div>
        <form id="renameForm" method="post">
          <div class="form-group row">
            <span class="col-1"><input type="hidden" class="form-control " name="oldName" id="renameOld"></span>
            <input type="input" class="form-control col-10" name="newName" id="renameNew">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="renameSubmit" data-dismiss="modal">确定</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--模态框 上传文件-->
  <div class="modal fade" tabindex="-1" role="dialog" id="fileUpload">
    <div class="modal-dialog" role="document" id="uploadModal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提示:文件名字不能含有".",并且不能在同一目录下重名</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <form id="uploadForm" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="form-group">
              <input id="input-b3" name="files" type="file" class="file" multiple data-show-upload="false"
                  data-show-caption="true" data-msg-placeholder="选择图片上传...">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="uploadBtn" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--页面主要内容-->
  <div class="right-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">

            <!--面包屑导航-->
            <div class="card-header">
              <ol style="margin-top: 10px;margin-bottom: 9px;">
                <li class="breadcrumb-item">全部文件</li>
              </ol>
            </div>

            <!--全选和排序-->
            <div class="navbar navbar-default">

              <div class="container-fluid">
                <div class="">
                  <input type="checkbox" id="selectAll">
                  <span class="span" id="selectCount">共 项</span>
                </div>
              </div>

            </div>
            <!--文件列表-->
            <div class="table-responsive">
              <ul id="dowebok" class="d-flex flex-wrap">
                <li th:each="list:${fileList}" onmouseover="dowebokMouseover(this)" onmouseout="dowebokMouseout(this)">
                  <input type="checkbox" name="albumPicture" th:value="${list.getName()}"
                      onclick="inputNameAlbumPicture()">
                  <div><img class="lazyload" data-th-original="${list.getUrl()}" data-th-src="${list.getUrlMini()}"
                      th:src="@{/images/loading.png}" th:alt="${list.getName()}" onclick="imageInformation()"></div>
                  <p th:text="${list.getName()}" th:title="${list.getName()}"></p>
                  <p th:text="${#dates.format(list.getCreateDate(),'MM-dd HH:mm')}"
                      style="width: 100%;color: #b1b1b1;"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <!--  图片信息  -->
        <div class="detailed_information">
          <div class="detailedDownloadAndDelete">
          </div>

          <div>
            <span>详细信息</span>
            <div class="detailedImg">
              <ion-icon name="person-outline" class="avatar-img"></ion-icon>
              <div class="detailedType">
                <div class="detailedName">获取数据失败</div>
                <div class="detailedSize detailedColor">获取数据失败</div>
              </div>
            </div>
            <div class="detailedImg">
              <ion-icon name="time-outline" class="avatar-img"></ion-icon>
              <div class="detailedType">
                <div class="">创建时间</div>
                <div class="detailedCreateData detailedColor">获取数据失败</div>
              </div>
            </div>
            <div class="detailedImg">
              <ion-icon name="information-outline" class="avatar-img"></ion-icon>
              <div class="detailedType">
                <div class="">修改时间</div>
                <div class="detailedUpdateData detailedColor">获取数据失败</div>
              </div>
            </div>
          </div>
          <div class="detailed_label">
            <span>标签</span>
            <div class="detailed_tags"></div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="tool-items btn-toolbar-dark" id="album_menu">
    <a href="#" class="tool-item" id="toolItems-down" title="下载"><i class="fa fa-download"></i></a>
    <a href="#" class="tool-item" id="toolItems-star" title="收藏"><i class="fa fa-star"></i></a>
    <a href="#" class="tool-item" id="toolItems-share" title="分享"><i class="fa fa-share"></i></a>
    <a href="#myModal" class="tool-item" id="toolItems-trash" title="删除" data-toggle='modal'><i class="fa fa-trash"></i></a>
    <a href="#" class="tool-item" id="toolItems-times-circle" title="取消多选"><i class="fa fa-times-circle"></i></a>
  </div>

  <!--导入公共js-->
  <div th:include="~{comm::js}"></div>
  <script th:src="@{js/lazysizes.min.js}"></script>
  <script th:src="@{js/viewer.min.js}"></script>
  <script th:src="@{js/fileinput.js}"></script>
  <script th:src="@{/js/album.js}"></script>
  <script th:src="@{js/userMain.js}"></script>
  <script th:src="@{js/albumShow.js}"></script>

  <script>
      searchBarOnload();
  </script>
</body>
</html>